<!DOCTYPE html>
<html ng-app="myPharmaco">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css">
		<style type="text/css">
			.jumbotron {
				margin-top: 5px;
			}
		</style>
		<title>My Pharmaco App</title>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-route/angular-route.js"></script>
		<script src="lib/angular-resource/angular-resource.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/MedicamentoService.js"></script>
		<script src="js/controllers/MedicamentosController.js"></script>
		<script src="js/controllers/MedicamentoController.js"></script>
		<script src="js/config/interceptorsConfig.js"></script>
		<script src="js/interceptors/UnauthorisedInterceptor.js"></script>
	</head>
	<body class="container">
		
		<%if (userLogged.length > 0) { %>
			<div class="text-right">
				<p>
					Welcome: <span id="user-logged"><%=userLogged %></span>
					<a href="/logout">Logout</a>
				</p>
			</div>
		<% } %>

		<div ng-view></div>
	</body>
</html>